<!DOCTYPE mapper     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="PersonMapper">

    <select
        id="getPersonById"
        parameterType="Integer"
        resultType="Person"
    >
        select * from person where id = #{id}
    </select>


    <select id="getPerson" resultType="Person">
        select * from person
    </select>

    <insert
            id="addPerson"
            useGeneratedKeys="true"
            keyProperty="id"
    >
  insert into person ("fullName", "birthDay", "gender")
  values (#{fullName},#{birthDay},#{gender})
  </insert>


</mapper>